<h1>Insert New Blog Post here!</h1>
<form> 
    <fieldset class="form-group">
        <label for="inputName">Name</label>
        <input type="name" class="form-control" id="author" placeholder="Name: First Last" ng-model='newBlog.author'>
    </fieldset>
    <fieldset class="form-group">
        <label for="title">Title</label>
        <textarea class="form-control" id="title" rows="1" ng-model='newBlog.title' placeholder= "Ex: The Wrath of Grapes"></textarea>
    </fieldset>
    <fieldset class = "form-group">
        <label for="Content">Content</label>
        <textarea class="form-control" id='blog' rows="10" ng-model='newBlog.content' placeholder="What do you want to say?"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-click="createBlog();navigateToCompose()" id="readme">Submit</button>
</form>